APP_DEBUG=false
APP_ENV=dev
APP_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
COMPANY_DOMAIN=
SECURE_SESSION=false
APP_DOMAIN=ac.razorpay.dev
BASE_URL=http://ac.razorpay.dev
AWS_REGION=us-east-1
AWS_KEY_ID=
AWS_KEY_SECRET=
CRON_PASSWORD=

# Database credentials
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Duo, this is currently unused
DUO_AKEY=
DUO_IKEY=
DUO_SKEY=
DUO_HOST=
