<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "header" }}
</head>

<body>
    {{ template "flashmessage" .message}}

    {{ template "navbar" .user}}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 modal-outer noPad">
                <h2>Ingress Details</h2>
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{.data.Name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Namespace:</div>
                    <div class="col-md-6">{{.data.Namespace}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Host:</div>
                    <div class="col-md-6"><a href="https://{{.data.Host}}" target="_blank">{{.data.Host}}</a></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Ingress Class:</div>
                    <div class="col-md-6">{{.data.Class}}</div>
                </div>

                <h2>Create Access On this Ingress</h2>
		        <div>
                    <form action="/ingress/{{.data.Namespace}}/{{.data.Name}}" method="post">
                        <div class="row">
                            <label for="expiry" class="col-sm-2 control-label">Expiry:</label>
                            <div class="col-sm-4">
                                <select name="expiry" class="form-control" required>
                                    <option value="3600" selected>1 hour</option>
                                    <option value="14400">4 hours</option>
                                    <option value="21600">6 hours</option>
                                    <option value="32400">9 hours</option>
                                </select>
                            </div>
                            <input class="col-sm-2" type="submit" name="Access" value="Access" />
                        </div>
                    </form>
                </div>
                <br/>

                {{ if .activeLeases }}
                <h2>Active Leases</h2>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Creator</th>
                            <th>Leased IP</th>
                            <th>Time Left</th>
                            <th>Lease Type</th>
                            <th>Terminate?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{$ns:=.data.Namespace}}
                        {{$name:=.data.Name}}
                        {{$user_id:=.user.ID}}
                        {{range .activeLeases}}
                        <tr>
                            <td>{{.User.Username}}</td>
                            <td>{{.LeaseIP}}</td>
                            <td class="time" >{{.Expiry}}</td>
                            <td>{{.LeaseType}}</td>
                            <td>
                            {{ if eq .User.ID $user_id}}
                                <form method="post" action="/ingress/{{$ns}}/{{$name}}/{{.ID}}">
                                    <input type="hidden" name="lease_id" value="{{.ID}}" />
                                    <input type="hidden" name="_method" value="DELETE">
                                    <a href="" style="color: #ff0000;"
                                        onclick="if(confirm('Are you sure you want to terminate this lease?')) {parentNode.submit();} return false;">
                                        <span title="Terminate Lease" class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </form>
                            {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                {{end}}
            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>

</html>