<!DOCTYPE html>
<html lang="en">

  <head>
    {{ template "header" }}
  </head>

  <body>
    {{ template "flashmessage" }}

    {{ template "navbar" }}

    <div class="container">
    {{ template "content" }}          
    </div>
    {{ template "footer" }}
  </body>
</html>
